
.App {
  min-height: 100vh;
  
  background-size: cover;
  background-attachment: fixed;

}

.btn-primary{
  background-color: rgb(155, 104, 162);
  border: none;
  font-weight: 900;
}
.btn-primary:hover{
  background-color: rgb(208, 50, 116);
  border: none;
  font-weight: 900;
}

.btn-secondary {
  background-color: rgb(104, 162, 142);
  border: none;
  font-weight: 900;
}