nav {
    background-color: rgba(131, 181, 142, 0.79);
    box-shadow: rgb(52, 48, 47) 2px 2px 5px;
}



.bigText{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 30px;
}

.subText{
    color: rgb(81, 79, 79);
    font-weight: 600;
    font-size: 10px;
    vertical-align: sub;
    position: relative;
    bottom: -2px;
    left: -25px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: smaller;
}

nav a:not(.navbar-brand):hover {
    font-weight: bold;
  }

nav a {
    text-decoration: none;
}
